<router-outlet></router-outlet>

<input type="text" [(ngModel)]="title">
{{ title }}

<input type="text" [(ngModel)]="power">
{{ power |exponential}}

<div *ngIf="title == 'Andrea'">
    esta es Andrea Garcia en un if
</div>

<div [ngSwitch]="title">
  <p *ngSwitchCase="'viviana'">Esta es viviana</p>
  <p *ngSwitchCase="'andrea'">Esta es Andrea</p>
  <p *ngSwitchCase="'julian'">Este es Julian</p>
  <p *ngSwitchDefault>No hay match</p>
</div>
<button (click)="addItem()">Add item</button>


<ul>
  <li *ngIf="items.length == 0">La lista está vacia</li>
  <li *ngFor="let name of items; index as i">
    {{ name }} {{ i }}
    <button (click)="deletedItem(i)">Deleted</button>
  </li>
</ul>


<div class="product-grid" >
  <app-product
    *ngFor="let product of products"
    (productClicked)="clickProduct($event)"
    [nuevoProducto]="product">
  </app-product>

  <!-- {{ product.title }}
  <img [src]="product.image" alt="">
  {{ product.price }} -->
</div>

